html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: top;
    font-family: Inter,X-LocaleSpecific,sans-serif;;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------RESET END---------------- */

li{
    display: inline-block;
    width: 100%;
	margin: 0px 10px;
}
a{
    color: #000;
    text-decoration: none;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 250%;
    font-weight: 780;
    margin: 10px 0px;
}
h3{
    font-size: 180%;
    font-weight: 700;
    margin: 7px 0px;
}
h4{
    font-size: 150;
    font-weight: bold;
    margin: 5px 0px;
}
strong{
    font-weight: bolder;
}
.dark{
    font-weight: 600;
    display: block;
    margin: 10px 0px;
    padding: 2px;
}
small{
    font-size: 75%;
}
/* a:hover {
	color: #f00;
}
a:active {
	color: #bbff00;
}
 */
.navbar{
	margin: auto;
    margin-bottom: 4px;
    overflow: hidden;
	background-color: #ffffff;
    padding: 20px;
    color: black;
    
}

.navbar>a:hover .navbar>.dropdown{
    border-bottom: 1px #000 solid;
}

.nav-container{
	width: 1200px;
    margin: auto;
}
.dropdown{
    display: inline-block;
    width: 8%;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    overflow: hidden;
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    margin: 35px 0px;
    width:100%;
    left :0; 
	z-index: 1;
    background-color: #ffffff;
}
.content-container{
    width: 1200px;
    margin: auto;
    padding-top: 10px;
}
.dropdown:hover{
    border-bottom: 1px black solid;
}
.dropdown:hover .dropdown-content {
	display: block;
}

.content-container>.colomn{
    display: inline-block;
    width: 31%;
    padding: 10px;
    margin: auto;
    vertical-align: top;
}
.content>ul{
    margin-top: 10px;
}
.content>ul>li{
    width: 49%;
    display: inline-block;
    margin: auto;
    line-height: 1.5em;
}

.content{
    margin:20px 0px;
    text-align: left;
    line-height: 1.5em;
}

.nav-download{
    display: inline-block;
    width:20%;
    margin-left:28.5%;
    text-align: right;
}

.download-btn-hollow{
    padding:10px;
    border:2px solid #114bf8;
    background: #fff;
    color: #114bf8;
    font-weight: bold;
    font-size: 100%;
}
/* ---------Header--------- */



.container{
    width: 1200px;
    
	margin: auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.box-container{
    margin: 50px 0px;
}
.box1>.box-content{
    display: block;
    margin: 30px 0;
}


.box2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 0.6fr;
    place-content: center;
    gap: 30px;
}
.box2-1{
    grid-column:1/3;
}


.box3{
    background: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 90px;
    place-items: center;
    padding: 0px 200px;
}
.box32{
    text-align: center;
}
.box4{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
}
.box32{
    text-align: center;
}

.box-5{
    background: #eee;
    width: 100%;
}
.box5{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 1200px;
    margin: auto;
    place-content: center;
}

.form-email{
    display: block;
    margin: 30px 0px;
}
label, input, .btn{
    margin: 10px;
    display: block;
    width: 100%;
}
.btn{
    background: #000;
    color: #fff;
    padding: 15px;
}

.sign-up{
    padding: 50px;
}
/* ------Container---------- */

.upper-footer{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #25013e;
    color: #fff;
}
.upper-footer>.footer-container>.footer-download>a{
    color: #fff;
    font-size: smaller;
    display: block;
}

.lower-footer{
    padding: 20px;
    background: #000;
    color: #fff;
}
.info{
    display: inline-block;
    width: 75%;
}
.lang{
    display: inline-block;
    width: 24.%;
}
.info-2{
    margin-top: 20px;
}
.info-2>ul>a>li{
    display: inline-block;
    width: max-content;
    text-decoration: underline;
    color: #fff;
    font-size: small;
}
.footer-container{
    width: 1200px;
    margin: auto;
    padding: 20px 0px 0px 0px;
}
.footer-container>.colomn-container>.colomn{
    display: inline-block;
    width:24.5%;
    margin: 10px 0px;
    padding: 0px;
}
.logo-link-2{
    background: #fff;
    color: #000;
    font-weight: bolder;
   
}
.logo-link-1{
    background: #000;
    color: #fff;
    font-weight: bolder;
    font-size: 150%;
    padding: 2px 10px;
   
}

.footer-download{
    margin: 20px 0px;
    line-height: em;
}
.download-btn{
    display: block;
    padding: 10px;
    background: #0067f8;
    color: #fff;
    font-size: 100%;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    padding: 14px 25px;
    margin:1em 0px;
}
.colomn-container{
    margin-bottom: 50px;
}



/* div{
    border: black 1px solid;
} */