#main-container{
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    background: #f4f4f4;
}
#header{
    background: #454545;
    color: #f4f4f4;
    text-align: center;
}
label, input{
    display: inline-block;
    width : 45%;
    margin: 3px;
}
textarea{
    width: 100%;
}
.servicing-form{
    width: 80%;
    margin: auto;
}
#submit-button{
    width:100%;
    padding: 5px;
    background-color: #454545;
    color: #f4f4f4;
}

#toward-list,#toward-form{
    display: block;
    width: 80%;
    margin: 20px auto; 
    text-align: center;
}
th, table{
    border: 2px black solid;
}
td{
    border: 1px black solid;    
}
table{
    width: 100%;
}