html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ----------RESET END---------------- */

.container{
	width: 1000px;
	margin: auto;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover {
	color: #f00;
}
a:active a{
	color: #f00;
}

.navbar{
	margin: auto;
	margin-bottom: 4px;
	background-color: #a3b6ee;
	padding: 20px;
}
li{
	display: inline-block;
	margin: 0px 10px;
}
.nav-container{
	width: 80%;
	margin: auto;
	text-align: center;
}
.dropdown{
	width: max-content;
	position: relative;
	display: inline-block;
	text-align: left;
}
  
.dropdown-content {
	display: none;
	position: absolute;
	text-align: left;
	z-index: 1;
	background-color: #a3b6ee;
}

.dropdown:hover .dropdown-content {
	display: block;
	background-color: #a3b6ee;
}

.main-container{
	background: #ba85e9;;
}
.main-container>div{
	display: inline-block;
}
.box1, .box2, .box3{
	padding: 1em;
	box-sizing: border-box;
}
.box1{
	width: 25%;
}
.box2{
	width: 74%;
	line-height: 1.2em;
}
.box3{
	grid-column: 1/3;
	line-height: 1.2em;
}
.red{
	color: red;
}
