html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------RESET END---------------- */

h1{
	font-size: 200%;
}
h2{
	margin: 1em;
	font-size: 150%;
}

li{
	display: inline-block;
}
.container{
	width: 70%;
	height: fit-content;
	margin: 1% auto;
	font-size: 100%;
}
header{
	margin: 0.7em;
	padding: 0.7em;
	text-align: center;
}
header>h1{
	display: inline-block;
	padding-left: 0.5em;
	
}
#icon-pic{
	position: relative;
	top: 0.2em;
}
.navbar{
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	margin-bottom: 1em;
}
.box2{
	text-align: center;
}

.main-container{
	display: grid;
	gap: 1em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1.6fr;
	grid-auto-rows: auto;
		
}
.services{
	grid-row: 1/3;
}
.services>a{
	display: block;
}
.matter{
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	line-height: 3em;
}
.matter2>a{
	padding-left: 12%;
	display: block;
	text-align: left;
}
.matter>img{
	display: block;	
	margin: 2em auto;
}
.main-container>div{
	border: 1px solid black;
}
.address-matter{
	padding-left: 2em;
	padding-bottom: 2em;
	line-height: 1.5em;
}
.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr ;
	gap: 1em;
	padding: 1em;
}
.wrapper>div{
	text-align: center;
	padding: 20px;
	border: solid black 1px;
}
.wrapper>span{
	display: block;
}