html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*----------------------------------*/



header{
    text-align: center;
    font-size: 250%;
    background-color: coral;
    margin: auto;
    width: 100%;
    
}
body{
    background-color: #f4f4f4;
}

.container{
    background-color: #f4f4f4;
}

.sale-items{
    width: 90%;
    margin: auto;
    background: #aaa;
    
}

.sale-items h2{
    background-color: #f4f4f4;
    text-align: center;
    font-size: 200%;
}

.item{
    background-color: cornsilk;
    box-sizing: border-box;
    border: black solid 1px;
    float: left;
    width: 31%;
    padding: 2%;
    margin: 1%;

}

.item span{
    display: inline-block;
    width: 100%;
    text-align: center;
}

.item img{
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.garik-details{
    margin: auto;
    width: 80%;
}

.garik-details img{
    width: auto;
    height: 100px;
    display: inline-block;
}

.garik-details span{
    
}