html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET------------------------------------- */
body{
    background-color: #555;
}
.container{
    width: 90%;
    margin: auto;
}

.box-1, .box-2, .box-4 {
    background-color: #f4f4f4;
    width: 3000px;
    height: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.box-1{
    background-color: #f4f4f4;
}

.box-2{
    background-color: #555;
}

.box-3{
    background-color: #555;
    width: 3000px;
    height: 800px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-21, .box-22, .box-23, .box-24{
    display: inline-block;
    box-sizing: border-box;
    background-color:white;
    width: 709px;
    height: 100%;
    
    margin-right: 50px;
}

.box-24{
    margin-right: 0px;
}

.box-31{
    margin-right: 50px;
}

.box-31, .box-32{
    display: inline-block;
    width: 1473PX;
    background-color: #f4f4f4;
    height: 800px;
}
.box-32{
    background-color: #555;
}

.box-321{
    background-color: #555;
    display: block;
    height: 375px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
.box-322{
    background-color: #555;
    display: block;
    height: 375px;
} 

.box-323{
    display: inline-block;
    background-color: #f4f4f4 ;
    width:709px;
    height: 375px;
    margin-right: 50px; 
}

.box-324{
    display: inline-block;
    background-color: #f4f4f4 ;
    width:709px;
    height: 375px;
    /* display: inline-block; */
}