html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------------REset End-------------- */
body{
	font-size: 120%;
}
h1{
	font-size: 200%;
	font-weight: bolder;
	padding: 2%;
}

h2{
	font-size: 150%;
	font-weight: bolder;
	margin: 4% 0;
}

.container{
	display: grid;
	grid-template-columns: 3.2fr 1fr;
}
.container>div{
	padding: 2em;
}

.box{
	background-color: #a3ffff;
	grid-column: 1/3;	
}	
.box1{
	background-color:#9fff9b ;
	display: grid;
	grid-template-rows: 2fr 2fr;
	gap: 2em;
	padding: 20em;
}
.box1>div{
	background-color: #fff;
	padding: 0 2% 2% 2%;
}
.title{
	padding:2% 0%;
	margin: 0%;
	font-size: larger;
}
.box2{
	background-color:#fac6d9 ;
}
