html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Reset-------------------------------------- */
body{
    background-color: #f4f4f4;
}

.container{
    width: 56%;
    height: 100%;
    background-color: #333;
    margin: auto;
    padding: 0;
}
 
.box-1{
    margin: 1%;    
    width: 30%;
    height: 65%;
    background-color: #333;
    display: inline-block;
}
.box-2{
    border: 0px;
    margin: 1%;
    width: 64%;
    height: 65%;
    background-color: #e84905;
    display: inline-block;
}
.box-11{
    background-color: #f7e9c3;
    width: 100%;
    height: 47.5%;    
    margin-bottom: 10%;
}
.box-12{
    background-color: #f7e9c3;
    width: 100%;
    height: 47.5%; 
} 

#bottom-box{
    width: 97%;
    height: 31%;
    margin: 1%;
    margin-top: 0px;
    background-color: #333;
}

.box-31{
    background-color: #0097cf;
    box-sizing: border-box;
    display: inline-block;
    height:100%;
    width: 31%;
    margin-right: 2%;
}
.box-32{
    background-color: #f7e9c3;
    box-sizing: border-box;
    display: inline-block;
    height:100%;
    width: 59.5%;
    margin-right: 1%;
}
.box-33{
    background-color: #333;   
    box-sizing: border-box;
    display: inline-block;
    height:100%;
    width: 4.5%;
}

.box-331, .box-332{
    width: 100%;
    background-color: Yellow;
    height: 49.0%;

}

.box-331{
    background-color: #f7e9c3;
    margin-bottom: 10%;
} 