html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RESET ----------------------------------------------------------- */

h1{
    font-size: 200%;
    padding: 20px;
    line-height: 150%;    
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-size: 200%;
}

hr{
    width: 100%;
    height: 2px;
    background-color: #ccc;
    border:none;
}
.soft-title{
    color: #ccc;
    font-weight: bold;
}

img{
    border-radius: 50%;
}

.sidebar{
    position: absolute;
    background-color: #354855;
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding-top:21%;
    padding-bottom: 21%;
    top: auto;
    padding-right: 1%;
    padding-left: 5%;
    text-align: right;
    line-height: 200%;
    color: #f8f8f8;
}

.sidebar h2{
    font-size: 170%;
    color: #789;
    
}

.sidebar input{
    margin: 1%;
    margin-top: 7%;
    background-color: inherit;
    border: #f8f8f8 solid 2px;
    color: #f8f8f8;
    font-size: 100%;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.container{
    position: absolute;
    background-color: #f4f4f4;
    width:75%;
    height:100% ;
    box-sizing: border-box;
    right: 0;
    padding-top: 3%;
}
.container h2{
    font-weight: bolder;
    margin-top: 8px;
    margin-bottom: 8px;
}
.post{
    width: 90%;
    margin: auto;
    margin-top: auto;
    padding: 2%;
}

.post-title{
    width: 89.5%;
    display: inline-block;
    box-sizing: border-box;
}
.images{
    width: 9.5%;
    display: inline-block;
    box-sizing: border-box;
}
.heading{
    margin-top: 30px;
    margin-bottom: 30px;
}
.matter{
    line-height: 2em;
    font-size: 110%;
}

#java{
    color: #f4f4f4;
    background-color: red;
    border: red;
}

#css{
    color: #f4f4f4;
    background-color: blue;
    border: blue;
} 
#pure{
    color: #f4f4f4;
    background-color: green;
    border: green;
}
a{
    text-decoration: none;
    color: lightskyblue;
    font-weight: bold;
}

a:hover{
    color: red;
}