html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	color: #333;
	vertical-align: baseline;
	font-family: sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-color: #ccc;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* div{
	border: #555 solid 1px;
} */
/* REset Css-=---------------------------- */

.main-container{
    width: 1000px;
    margin: auto;
}
h1{
	font-size: 350%;
	font-weight: 6000;
}
.navbar{
	margin: 20px 0px;
	padding: 5px;
	border: #555  solid 2px;
	border-radius: 25px;
	background-color: #f4f4f4;
}
.logo{
	display: inline-block;
	box-sizing: border-box;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 80px;
	border-radius: 50%;
	width: 7.5%;	
	height: 80px;
	margin-left: 50px;
}
#logo-img{
    border-radius: 50%;
}
#title{
	display: inline-block;
	box-sizing: border-box;
	width: 81%;
	text-align: center;
	padding: 5px;
	vertical-align: top;	
}

/* NAVBAR end----------------------------- */
.container{
	border: #555  solid 2px;
	border-radius: 25px;
	padding: 30px;
	height:315px;
	background-color: #f4f4f4;
}

/* COntainer end -------------------------- */
.contact>h2{
	
	margin-bottom:20px;
}
h2{
	font-size: 200%;
}
h3{
	font-size: 120%;
	font-weight: bold;
}
.add{
	width:60%;
	margin: 100px 0px;
	box-sizing: border-box;
	margin: auto;
	background-color: #ccc;
	line-height: 1.5em;	
	text-align: center;
	
}

.links{
	display: inline-block;
	width: 30%;
	height: 380px;
	box-sizing: border-box;
	text-align: center;
	line-height: 3em;
	padding: 15px 0;
	vertical-align: top;
	border:#555 solid 2px;
	border-radius: 25px;
	background-color: #f4f4f4;
}
a{
	color: #016efb;
}
a:active{
	color: #8400ff;
}
a:hover{
	color: #ff9d00;
}

.links>a{
	display: block;
}
.red{
	color: #f00;
}
.intro{
	display: inline-block;
	margin-left: 16px;
	width: 67.9%;
	height:380px;
	box-sizing: border-box;
	padding: 0 35px;
	border-radius: 25px;
	border: #555 dashed 5px;
	overflow: scroll;
	background-color: #f4f4f4;
}
.intro>h2{
	font-size: 250%;
	text-align: center;
	margin: 15px;
}
.intro>p{
	margin: 15px;
}


.about-us{
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
	vertical-align: top;
	padding:  20px 0;

}
.company-img{
	display: inline-block;
	vertical-align: center;
	text-align: center;
	width: 49%;
	height: 100%;
	padding-top: 20px;
}
