html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* reset end ---------------------------- */

.container{
    margin-bottom: 200px;
    margin-top: 200px;
}

body .container{
    background-color: #f4f4f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

br{
    color: coral 3px;
}

img{
    display: block;
    margin: auto;
}

.container{
    width: 90%;
    margin: auto;
    border: coral solid 5px;
    padding: 5%;
    box-sizing: border-box;
}

.details{
    display: inline-block;
    width: 70%;
    box-sizing: border-box;
}


.image{
    display: inline-block;
    width: 29%;
    margin: auto;
}
h2{
    font-size: 130%;
    font-weight: bold;
    margin-bottom: 4%;
    margin-top: 2%;
    height: 100%;
}

.catagory{
    display: inline-block;
    width: 38%;
    box-sizing: border-box;
    margin-bottom: 2%;
}
.answers{
    display: inline-block;
    width: 58%;
    box-sizing: border-box;
    line-height: 1%;
}

/* Personal Details style end */

.education-iniformation{
    margin-bottom: 2%;
}

.period{
    width:30%;
    display: inline-block;
    margin-bottom: 2%;
}
.university{
    width:69%;
    display: inline-block;
}
.res-univercity{
    display: block;
    width:100%;
    margin-bottom: 1.5%;
}
.major-title{
    display: inline-block;
    width:29%;
    margin-bottom: 1.5%;
}
.major{
    display: inline-block;
    width: 69%;
    margin-bottom: 1.5%;
}
.res-period{
    position: relative;
    bottom: 32px;
}

.other-skills{
    margin-bottom: 2%;
}
.other-skills li{
    margin-bottom: 2%;
}
.internships li{
    margin-bottom: 2%;
}
.extra-curricular li{
    margin-bottom: 2%;
}